<div class="row" ng-init="init()">
    <div class="col-md-12">
        <h1>{{config.title}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form role="form">
            <div class="form-group">
                <label for="exampleSearch">Search</label>
                <input type="text" class="form-control" id="exampleSearch" placeholder="Enter search..." ng-model="search" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="lead">Filtering Data</p>
        <input type="checkbox" ng-true-value="true" ng-false-value="" ng-model="query.isActive" /> Is Active?
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in filtered = (dataset | filter: query | filter: search)">
                    <th>{{item.id}}</th>
                    <th>{{item.name}}</th>
                    <th>{{item.age}}</th>
                    <th>{{item.address}}</th>
                    <th>{{item.balance}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>